<div class="container">
  <div class="row mt-4">
    <div id="user-info" class="col-sm-5 border border-dark text-center">
      <h2>Hello, {{name}}!</h2>
      <h3>
          <ul>
            <li>Email: {{email}}</li>
            <li>Github: {{github}}</li>
          </ul>
      </h3>
    </div>

    <div id="saved-projects" class="col-sm-5 border border-dark text-center">
      <h3>Saved Projects:</h3>

    {{#if projects.length}}
      <div class="project-list">
        <h3>Saved Project Ideas:</h3>

      {{#each projects as |project|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
          </div>
        </div>
      {{/each}}
      </div>
    {{/if}}
    </div>
  </div>
</div>
{{!-- <script src="./js/profile.js"></script> --}}
